# Helicon ISAPI_Rewrite configuration file
# Version 3.1.0.82
RewriteEngine on RewriteCond % !^$
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php?/$1 [QSA,PT,L]