<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>



<script type="text/javascript" src='__PUBLIC__/Js/jquery-1.7.2.min.js'></script>
<link rel="stylesheet" href="__PUBLIC__/Uploadify/uploadify.css"/>
<script type="text/javascript" src='__PUBLIC__/Uploadify/jquery.uploadify.min.js'></script>
 <script type='text/javascript'>
    
        var PUBLIC = '__PUBLIC__';
        var uploadUrl = '{:U("Common/uploadFace")}';
        var ROOT = '__ROOT__';
    </script>

<script type="text/javascript">
 //上传插件
$(function() {
 
 $('#face').uploadify({
		swf : PUBLIC + '/Uploadify/uploadify.swf',	//引入Uploadify核心Flash文件
		uploader : uploadUrl,	//PHP处理脚本地址
		width : 120,	//上传按钮宽度
		height : 30,	//上传按钮高度
		buttonImage : PUBLIC + '/Uploadify/browse-btn.png',	//上传按钮背景图地址
		fileTypeDesc : 'Image File',	//选择文件提示文字
		fileTypeExts : '*.jpeg; *.jpg; *.png; *.gif',	//允许选择的文件类型
//		formData : {'session_id' : sid},
		//上传成功后的回调函数
		onUploadSuccess : function (file, data, response) {
			eval('var data = ' + data);
			if (data.status) {
				$('#face-img').attr('src', ROOT + '/Uploads/' + data.path);
				$('input[name=face180]').val('/Uploads/'+data.path);
			} else {
				alert(data.msg);
			}
		}
	});
 
 
 });
 </script>

<script type="text/javascript">
$(document).ready(function(){
  $(".click").click(function(){
  $(".tip").fadeIn(200);
  });
  
  $(".tiptop a").click(function(){
  $(".tip").fadeOut(200);
});

  $(".sure").click(function(){
  $(".tip").fadeOut(100);
});

  $(".cancel").click(function(){
  $(".tip").fadeOut(100);
});

});
</script>


</head>


<body>
<div class="rightinfo">
  <form action="/admin8899.php/Home/Shop/jbzg_list_xgcl"  enctype="multipart/form-data" name="xgmm" id="xgmm" method="post">
	   <input name="id" type="hidden" value="{$caution.id}">
<table width="90%" border="0" cellpadding="5" cellspacing="1" bgcolor="#CCCCCC" class="tablebg" id="table1">
  <tr>
    <td width="157" bgcolor="#FFFFFF" class="tbkey" >產品名稱：</td>
    <td width="301" bgcolor="#FFFFFF" class="tbval" ><input name="sjmc" type="text" id="sjmc" value="{$caution.sjmc}" size="90"></td>
    </tr>
  
  <!--會員折扣-->
  <!--基本信息-->
  
  <tr>
    <td bgcolor="#FFFFFF" class="tbkey" >產品價格：</td>
    <td bgcolor="#FFFFFF" class="tbval"><input name="jyxm" type="text" id="jyxm" value="{$caution.jyxm}"></td>
    </tr>
  <tr>
    <td bgcolor="#FFFFFF" class="tbkey" >聯系方式：</td>
    <td bgcolor="#FFFFFF" class="tbval"><input name="lxfs" type="text" id="lxfs" value="{$caution.lxfs}"></td>
    </tr>
  <tr>
    <td bgcolor="#FFFFFF" class="tbkey" >地址：</td>
    <td bgcolor="#FFFFFF" class="tbval"><input name="dz" type="text" id="dz" value="{$caution.dz}" size="50">  </td>
    </tr>
  <tr>
    <td bgcolor="#FFFFFF" class="tbkey" >信息状态：</td>
    <td bgcolor="#FFFFFF" class="tbval">审核中：
      <input name="zt" type="radio" value="0" <if condition="$caution.zt eq 0" > checked="checked" </if>/><br />

      审核通过：
      <input type="radio" name="zt" value="1" <if condition="$caution.zt eq 1" > checked="checked" </if>/><br />

      退回修改：
      <input type="radio" name="zt" value="2" <if condition="$caution.zt eq 2" > checked="checked" </if>/></td>
  </tr>
  <tr>
    <td bgcolor="#FFFFFF" class="tbkey" >縮略圖：</td>
    <td bgcolor="#FFFFFF" class="tbval"><div class='edit-face'>
	    				<img src="{$caution.slt}" width='140' height='140' id='face-img'/>
	    				<p>
	    					<input type="file" name='face' id='face'/>
	    				</p>
   				  <p>
                            <input type="hidden" name='face180' value='{$caution.slt}'/>
			</p>
		</div></td>
  </tr>
  <tr>
    <td bgcolor="#FFFFFF" class="tbkey" >簡介：</td>
    <td bgcolor="#FFFFFF" class="tbval"><!-- 插入编辑器 -->
	
<textarea name="content" style="width:700px;height:200px;">{$caution.content}</textarea></td>
    </tr>
  <!--微信填寫-->
</table>
<!--基本信息結束-->
              <div id="state_lockcon" ></div>		
                <table class="tablebg" id="table3" style="clear:both">
                    <TR>
                        <td colspan="3" >
                            <input   type="submit" class="button_text"  id="btn" value="確定"> 
                        </TD>
                    </TR>
                </table>		
  </form>
   
   <div class="pages"><br />

                        <div align="right">{$page}
                        </div>
   </div>
    
    
    </div>
    <script type="text/javascript">
	$('.tablelist tbody tr:odd').addClass('odd');
	</script>

</body>

</html>
