<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="/sncss/css/style.css" rel="stylesheet" type="text/css" />
 <script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script>  
</head>

<body>

	<div class="place">
    <span>位置：</span>
    <ul class="placeul">
    <li><a href="#">首页</a></li>
    <li><a href="#">表单</a></li>
    </ul>
    </div>
    
    <div class="formbody">
    
    <div class="formtitle"><span>基本信息</span></div>
      <form name="dbjy" id="dbjy" action="/admin8899.php/Home/Index/tj_zrjj_cl" method="post" >
    <ul class="forminfo"><li><span id="zzan577"><input name="btn" type="submit" class="btn" id="btn" value="确认统计"/>
      这里只统计昨天奖金,统计前请备份数据库</span></li>
    </ul>
      </form>
    
	<script>
$(function(){


$('#btn').click(function(){
document.getElementById('zzan577').innerHTML = '提交中...';
document.getElementById("dbjy").submit();
})


})


</script>
	
	
    </div>


</body>

</html>
