<!DOCTYPE html>
<html>
<head>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link type="text/css" rel="stylesheet" href="__PUBLIC__/web/css/lib.css?2">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1, minimum-scale=1.0"/>
	<meta content="telephone=no" name="format-detection">
	<title>我的矿机</title>
	<script src="__PUBLIC__/web/js/jquery-1.8.3.min.js"></script>
	<link rel="stylesheet" href="__PUBLIC__/web/css/weui.min.css"/>
	<link rel="stylesheet" href="__PUBLIC__/web/css/jquery-weui.min.css">
	<link href="__PUBLIC__/web/css/font-awesome.min.css" rel="stylesheet">
	<link href="__PUBLIC__/web/fonts/iconfont.css" rel="stylesheet">
	<script src="__PUBLIC__/web/js/layer.js"></script>
</head>
</head>
<body>
<div style="position: fixed;z-index: -1000;width: 100%;height: 100vh;top:0;left: 0;"><img src="__PUBLIC__/web/img/body_bg.jpg" style="width:100%;height: 100vh"></div>
<header class="header">
	<span class="header_l" style="padding-left: 0"><a href="javascript:history.go(-1);"><img src="__PUBLIC__/web/img/back.png" style="display: inline-block;height: 40px"></a></span>
	<span class="header_c">我的矿机</span>
	<span style="position: absolute;right: 40px;top: 0px;text-align:center;width:70px;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;font-size: 12px; ">{$userData['ue_truename']}</span>
	<span class="header_r"><a href="/index.php/Home/Index/index/"><i class="fa fa-user"></i></a></span>
</header>
<div class="height40"></div>
<!--顶部结束-->
<style>
	.hh_btn{
		float: right !important;
		padding: 0 !important;
		display: block;
		height: 20px;
		margin: 5px;
		width: 60px;
		background-color: #FF6B00;
		border: 0;
		border-radius: 5px;
		color: #FFF;
	}
	.zz_btn{
		height: 20px;
		width: 150px;
		margin:5px;
		background-color: #FF6B00;
		border: 0;
		border-radius: 5px;
		color: #fff;
	}
	.level_btn{
		height: 20px;
		width: 40px;
		margin-left:5px;
		background-color: #23D66B;
		border: 0;
		border-radius: 5px;
		color: #fff;
	}
	#content{
		height: 100px;
		width: 200px;
		border:2px solid #FF6B4B;
	}
</style>
<!--会员中心开始-->
<ul class="dd_list"style="margin-bottom:80px;">
	<foreach name="list" item="v">
	<li style="position:relative;width: 100%">
		
			<img src="{$v.imagepath}" alt="tx" style="width:20%;float: left" />
			<div style="width:70%;float: left">
				<p style="font-weight: 700;font-size:14px;">{$v.project}</p>
				<P style="font-size:12px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;width:100%;height:20px;line-height:30px">运行周期：{$v.yxzq}小时&nbsp;&nbsp;&nbsp;&nbsp;<span>产量/小时：{$v.lixi}</span></P>	
				<p style="font-size:12px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;width:100%;height:20px;line-height:30px">矿机编号：{$v.kjbh}</p>
				<p style="font-size:12px;height:20px;line-height:30px">矿机状态：
					<if condition = "$v.zt eq 0"> 未使用</if>
					<if condition= "$v.zt eq 1" ><span style="color: #00ff00">正在运行</span></if>
					<if condition= "$v.zt eq 2" ><span style="color: #ff0000">已经结束</span></if>
				</p>		
			</div>
	<if condition = "$v.zt eq 0">		
		<a href="/index.php/Home/Info/wakuang/?id={$v.id}" style=" height:20px;line-height:20px;color: #02d2f5;display:block;position:absolute;right:30px;bottom:10px;font-size: 12px;padding: 0 10px;border: 1px solid #02d2f5;border-radius: 4px;">运行</a>
	</if>
	<if condition = "$v.zt eq 1">	
	    <a href="/index.php/Home/Info/wakuang/?id={$v.id}" style=" height:20px;line-height:20px;color: #fff;display:block;position:absolute;right:30px;bottom:10px;font-size:12px;padding: 0 10px;background-color: #02d2f5;border: 1px solid #02d2f5;border-radius: 4px;">查看</a>
	</if>			
				<div style="width:60%;display:inline-block;">
					
				</div>

	</li>
</foreach>
	
</ul>
<!--会员中心结束-->

<div class="height55"></div>
<!--底部开始-->
<style>
	.footer ul li{
		width: 25%;
	}
</style>
		<div class="footer">
      <ul>
        <li><a href="/index.php/Shop/Index/" class="block"><i class="iconfont">&#xe620;</i>矿机商城</a></li> <li><a href="/index.php/Home/Info/mykuangche/" class="block"><i class="iconfont">&#xe612;</i>我的矿机</a></li> <li><a href="/index.php/Home/Info/Index/" class="block"><i class="iconfont">&#xe61e;</i>交易中心</a></li>       <li><a href="/index.php/Home/Index/Index/" class="block"><i class="iconfont">&#xe619;</i>个人中心</a></li>
    </ul>
</div>
</div>
<!--底部结束-->
<script src="__PUBLIC__/web/js/jquery-weui.min.js"></script>
</body>
</html>