<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>用户登陆</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"/>
	<script charset="UTF-8" src="__JS__/jquery-1.11.3.min.js"></script>
	   <!--[if lte IE 8]>
    <script src="__JS__/html5shiv.min.js"></script>
    <script src="__JS__/respond.min.js"></script>
    <![endif]-->
</head>
<body style="background-color: #eee">
<div id="logo"style="margin: 0 auto;padding: 10px 0; width: 90%; height: auto;text-align: center;margin-top: 20px">
	<img src="/Public/web/img/logo.jpg" style="width:70%;margin-top:10px;border-radius:10px;margin-bottom:30px"alt=""/>
</div>
	<div style="width:250px;height:40px;position:absolute;top:50%;margin-top:20px;left:50%;margin-left:-125px;">	
		<a href="{:U('/Index.php/Weixin/User/reg')}" style="border:1px solid #e3e3e3;float:left;display:block;width:100px;height:40px;line-height:40px;background:#f9f9f9;color:#333;text-align:center;font-size:18px;border-radius:5px;text-decoration:none">新用户</a>
		<a href="{:U('/Index.php/Home/Login/Index')}" style="border:1px solid #e3e3e3;float:right;display:block;width:100px;height:40px;line-height:40px;background:#f9f9f9;color:#333;text-align:center;font-size:18px;border-radius:5px;text-decoration:none">老用户</a>
	</div>
</body>

</html>
